USE [master]
GO
/****** Object:  Database [QuanLyNhaSach]    Script Date: 5/7/2026 9:31:45 AM ******/
CREATE DATABASE [QuanLyNhaSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyNhaSach.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhaSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyNhaSach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaSach]
GO
USE [QuanLyNhaSach]
GO
/****** Object:  Sequence [dbo].[PhieuNhap_Seq]    Script Date: 5/7/2026 9:31:46 AM ******/
CREATE SEQUENCE [dbo].[PhieuNhap_Seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[BaoCaoCongNo]    Script Date: 5/7/2026 9:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoCongNo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[KhachHangID] [int] NULL,
	[NoDau] [decimal](12, 2) NULL,
	[PhatSinh] [decimal](12, 2) NULL,
	[NoCuoi] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoTon]    Script Date: 5/7/2026 9:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoTon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[SachID] [int] NOT NULL,
	[TonDau] [int] NULL,
	[PhatSinh] [int] NULL,
	[TonCuoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/7/2026 9:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonID] [int] NOT NULL,
	[SachID] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 5/7/2026 9:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PhieuNhapID] [int] NOT NULL,
	[SachID] [int] NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuongNhap]*[DonGiaNhap]),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/7/2026 9:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [varchar](20) NOT NULL,
	[KhachHangID] [int] NULL,
	[UserID] [int] NULL,
	[NgayLap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/7/2026 9:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapSach]    Script Date: 5/7/2026 9:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapSach](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap]  AS ('PN'+CONVERT([varchar](10),[ID])) PERSISTED,
	[NgayNhap] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
 CONSTRAINT [PK__PhieuNha__3214EC2749B19D99] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThu]    Script Date: 5/7/2026 9:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuThu]  AS ('PT_'+right('000'+CONVERT([varchar],[ID]),(3))),
	[KhachHangID] [int] NULL,
	[NgayThu] [date] NULL,
	[SoTienThu] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinh]    Script Date: 5/7/2026 9:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongNhapToiThieu] [int] NULL,
	[SoLuongTonToiThieu] [int] NULL,
	[TonToiThieuSauBan] [int] NULL,
	[NoToiDa] [decimal](18, 0) NULL,
	[ChoPhepThuVuotNo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 5/7/2026 9:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSach] [varchar](20) NULL,
	[TenSach] [nvarchar](100) NULL,
	[TheLoai] [nvarchar](50) NULL,
	[TacGia] [nvarchar](100) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
 CONSTRAINT [PK__Sach__3214EC27B6F675CD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/7/2026 9:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaoCaoCongNo] ON 

INSERT [dbo].[BaoCaoCongNo] ([ID], [Thang], [Nam], [KhachHangID], [NoDau], [PhatSinh], [NoCuoi]) VALUES (3, 5, 2026, 2, CAST(0.00 AS Decimal(12, 2)), CAST(20000.00 AS Decimal(12, 2)), CAST(20000.00 AS Decimal(12, 2)))
INSERT [dbo].[BaoCaoCongNo] ([ID], [Thang], [Nam], [KhachHangID], [NoDau], [PhatSinh], [NoCuoi]) VALUES (4, 5, 2026, 3, CAST(0.00 AS Decimal(12, 2)), CAST(100000.00 AS Decimal(12, 2)), CAST(100000.00 AS Decimal(12, 2)))
INSERT [dbo].[BaoCaoCongNo] ([ID], [Thang], [Nam], [KhachHangID], [NoDau], [PhatSinh], [NoCuoi]) VALUES (5, 5, 2026, 1, CAST(20000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(20000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[BaoCaoCongNo] OFF
GO
SET IDENTITY_INSERT [dbo].[BaoCaoTon] ON 

INSERT [dbo].[BaoCaoTon] ([ID], [Thang], [Nam], [SachID], [TonDau], [PhatSinh], [TonCuoi]) VALUES (69, 5, 2026, 70, 0, 50, 50)
INSERT [dbo].[BaoCaoTon] ([ID], [Thang], [Nam], [SachID], [TonDau], [PhatSinh], [TonCuoi]) VALUES (70, 5, 2026, 71, 0, 120, 120)
INSERT [dbo].[BaoCaoTon] ([ID], [Thang], [Nam], [SachID], [TonDau], [PhatSinh], [TonCuoi]) VALUES (71, 5, 2026, 72, 0, 85, 85)
SET IDENTITY_INSERT [dbo].[BaoCaoTon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] ON 

INSERT [dbo].[ChiTietPhieuNhap] ([ID], [PhieuNhapID], [SachID], [SoLuongNhap], [DonGiaNhap]) VALUES (80, 23, 70, 50, CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([ID], [PhieuNhapID], [SachID], [SoLuongNhap], [DonGiaNhap]) VALUES (81, 23, 71, 120, CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([ID], [PhieuNhapID], [SachID], [SoLuongNhap], [DonGiaNhap]) VALUES (82, 23, 72, 85, CAST(30000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([ID], [TenKhachHang], [DiaChi], [DienThoai], [Email]) VALUES (1, N'Huy', N'a', N'0908817384', N'hthuy54365@gmail.com')
INSERT [dbo].[KhachHang] ([ID], [TenKhachHang], [DiaChi], [DienThoai], [Email]) VALUES (2, N'Duy', N'a', N'0902679491', N'Duy@gmail.com')
INSERT [dbo].[KhachHang] ([ID], [TenKhachHang], [DiaChi], [DienThoai], [Email]) VALUES (3, N'Long', N'a', N'0902320962', N'Long123@gmail.com')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhapSach] ON 

INSERT [dbo].[PhieuNhapSach] ([ID], [NgayNhap], [TongTien]) VALUES (23, CAST(N'2026-05-06T13:40:38.720' AS DateTime), CAST(12130000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PhieuNhapSach] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuThu] ON 

INSERT [dbo].[PhieuThu] ([ID], [KhachHangID], [NgayThu], [SoTienThu]) VALUES (1, 1, CAST(N'2026-05-01' AS Date), CAST(100000.00 AS Decimal(12, 2)))
INSERT [dbo].[PhieuThu] ([ID], [KhachHangID], [NgayThu], [SoTienThu]) VALUES (3, 1, CAST(N'2026-05-01' AS Date), CAST(20000.00 AS Decimal(12, 2)))
INSERT [dbo].[PhieuThu] ([ID], [KhachHangID], [NgayThu], [SoTienThu]) VALUES (4, 3, CAST(N'2026-05-04' AS Date), CAST(40000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[PhieuThu] OFF
GO
SET IDENTITY_INSERT [dbo].[QuyDinh] ON 

INSERT [dbo].[QuyDinh] ([ID], [SoLuongNhapToiThieu], [SoLuongTonToiThieu], [TonToiThieuSauBan], [NoToiDa], [ChoPhepThuVuotNo]) VALUES (1, 150, 20, 5, CAST(100000 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[QuyDinh] OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([ID], [MaSach], [TenSach], [TheLoai], [TacGia], [SoLuong], [DonGia]) VALUES (70, N'MS070', N'Doraemon Tập 1', N'Thiếu nhi, Hài hước', N'Fujiko F. Fujio', 50, CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[Sach] ([ID], [MaSach], [TenSach], [TheLoai], [TacGia], [SoLuong], [DonGia]) VALUES (71, N'MS071', N'Thám tử lừng danh Conan Tập 100', N'Trinh thám', N'Gosho Aoyama', 120, CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[Sach] ([ID], [MaSach], [TenSach], [TheLoai], [TacGia], [SoLuong], [DonGia]) VALUES (72, N'MS072', N'One Piece Tập 105', N'Hành động, Phiêu lưu', N'Eiichiro Oda', 85, CAST(30000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [UserName], [PasswordHash], [Role]) VALUES (2, N'admin', N'$2a$11$2d2T0.Og95wwMMzHT1jCj.qQiymDQyo7kFUWdU5Lkcr8KD1ishYTK', N'Admin')
INSERT [dbo].[Users] ([ID], [UserName], [PasswordHash], [Role]) VALUES (3, N'NhanVien', N'$2a$11$vpMf8ITT0xNjMxwh/pze1eE4GMk3XBnT8Pe6aR6Qt6hfCcw5W0..2', N'NhanVien')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoaDon__835ED13AAC2304DB]    Script Date: 5/7/2026 9:31:46 AM ******/
ALTER TABLE [dbo].[HoaDon] ADD UNIQUE NONCLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F28456C2AE5ABA]    Script Date: 5/7/2026 9:31:46 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoCaoTon] ADD  DEFAULT ((0)) FOR [TonDau]
GO
ALTER TABLE [dbo].[BaoCaoTon] ADD  DEFAULT ((0)) FOR [PhatSinh]
GO
ALTER TABLE [dbo].[BaoCaoTon] ADD  DEFAULT ((0)) FOR [TonCuoi]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[PhieuNhapSach] ADD  CONSTRAINT [DF__PhieuNhap__NgayN__2FCF1A8A]  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuNhapSach] ADD  CONSTRAINT [DF__PhieuNhap__TongT__30C33EC3]  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[PhieuThu] ADD  DEFAULT (getdate()) FOR [NgayThu]
GO
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [DF__Sach__SoLuong__2CF2ADDF]  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[BaoCaoCongNo]  WITH CHECK ADD FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[BaoCaoTon]  WITH CHECK ADD  CONSTRAINT [FK_BaoCaoTon_Sach] FOREIGN KEY([SachID])
REFERENCES [dbo].[Sach] ([ID])
GO
ALTER TABLE [dbo].[BaoCaoTon] CHECK CONSTRAINT [FK_BaoCaoTon_Sach]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_Sach] FOREIGN KEY([SachID])
REFERENCES [dbo].[Sach] ([ID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_Sach]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_PhieuNhap] FOREIGN KEY([PhieuNhapID])
REFERENCES [dbo].[PhieuNhapSach] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTiet_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_Sach] FOREIGN KEY([SachID])
REFERENCES [dbo].[Sach] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTiet_Sach]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Users]
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD CHECK  (([SoLuongNhap]>(0)))
GO
USE [master]
GO
